<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>这是首页</h1>
<h2>测试RESTFul</h2>
<a th:href="@{/user}">/user---GET---查询所有用户</a><br>
<a th:href="@{/user/1}">/user/1---GET---根据id查询用户</a><br>
<form th:action="@{/user}" method="post">
    <fieldset>
        <legend>添加用户</legend>
        用户名：<input type="text" name="username"><br>
        密码：<input type="password" name="password"><br>
        <input type="submit" value="添加用户">
    </fieldset>
</form>
<form th:action="@{/user}" method="post">
    <fieldset>
        <legend>修改用户</legend>
        <input type="hidden" name="_method" value="PUT">
        用户名：<input type="text" name="username"><br>
        密码：<input type="password" name="password"><br>
        <input type="submit" value="修改用户">
    </fieldset>
</form>
</body>
</html>